html, body {
    height: 100%;
}

.container {
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-100%);*/
    /*text-align: center;*/

}
.loadimg{
    text-align:center;
    width: 200px;
    position: absolute;
    top: 15em;
    left: 35em;
}
.container{
    display:none;
}