html, body {
    height: 100%;
}
@font-face {
    font-family: 'noodle';
    src: url("../fonts/noodle.ttf");
}

body{
    background-color: white;

}

body::after{
    content: "";
    background: url("images/bowl-filled-with-popcorns-for-movie-night-with-PDFGJQG.jpg");
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: 100%;
    background-repeat: repeat;
}

h3 {
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
    border-radius: 5%;
    margin: 10px;
    padding: 10px;

}

h2 {
    font-family: 'Fjalla One', sans-serif;
    height: 100px;
    /*background-color: black;*/
    color: black;
    margin-top: 60px;
    font-size: 96px;
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*margin-right: -50%;*/
    /*transform: translate(-50%, -50%) }*/

}

.container {
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-100%);*/
    /*text-align: center;*/

}
.loadimg{
    text-align:center;
    width: 200px;
    position: absolute;
    top: 15em;
    left: 40em;
}
.container{
    display:none;
   width: 250px;
    margin: auto;

}

.additionalMovie {
    margin: auto;
    width: 800px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
}

.row {
    margin: auto;
    width: 500px;
}

/*input {*/
    /*margin: 20px;*/
    /*width: 250px;*/
    /*height: 30px;*/
    /*border-radius: 5%;*/
/*}*/

button{
    width: 100px;
    height: 25px;
    border-radius: 5%;
    background-color: white;
    color: black;
    margin: 5px;
}
